@import url('https://rsms.me/inter/inter-ui.css');
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter UI', sans-serif;
}

h1 {
    text-align: center;
    color: rgb(3, 3, 3);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}



form p {
    text-align: center;
    margin: 20px 0;
}

.input-single {
    position: relative;
    margin: 20px 0;

}

.input-single label {
    position: absolute;
    left: 0;
    bottom: 5px;
    transition: all 0.2s;
}

.input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #ccc;
    padding: 5px;
    font-size: 17px;
    outline: 0;
}

form .input-single .input:focus ~ label,
form .input-single .input:valid ~ label {
    transform: translateY(-30px);
    font-size: 12px;
    color: #2D5966;
}

.bnt {
    width: 100%;
    text-align: center;
}

form input[type=submit] {
    padding: 10px;
    border: 0;
    border-radius: 10px;
    background-color: #2D5966;
    color: #fff;
    cursor: pointer;
}


form select {
    height: 20px;
    width: 150px;
    border-radius: 5px;
    outline: none;
    color: #a8a5a5 ;
}
